body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}